/* @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate 10s linear infinite;
  }
  
  .label {
    width: 100px; /* Adjust based on label size */
    /* height: 30px; Adjust based on label size */
  
    input[type="checkbox"] {
      appearance: none;
      width: 2rem; /* Adjust width as needed */
      height: 1.4rem; /* Adjust height as needed */
      background-color: white;
      border: 1px solid hsla(0, 0%, 90%, 1);
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      vertical-align: bottom;
      display: inline-block;
      transition: background-color 0.3s ease;
    }
    
    /* Style when checkbox is checked */
    input[type="checkbox"]:checked {
      background: hsla(237, 63%, 27%, 1); /* Darker background when checked */
    }
    
    /* Style for the checkmark */
    input[type="checkbox"]:checked::after {
      content: "✔";
      color: white; /* White checkmark color */
      font-size: 16px; /* Adjust size of checkmark */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /* Hover effect for better UX */
    input[type="checkbox"]:hover {
      border-color: hsla(237, 63%, 40%, 1); /* Darker border on hover */
    }
    