@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate 20s linear infinite;
  }
  
  .label {
    width: 100px; /* Adjust based on label size */
    height: 30px; 
  }

  