






  
    /* height: 30px; Adjust based on label size */
  
    input[type="checkbox"] {
      appearance: none;
      padding: 10px;
      background-color: white;
      border: 1px solid hsla(0, 0%, 90%, 1);
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      vertical-align: bottom;
      display: inline-block;
      transition: background-color 0.3s ease;
    }
    
    /* Style when checkbox is checked */
    input[type="checkbox"]:checked {
      background: hsla(237, 63%, 27%, 1); /* Darker background when checked */
    }
    
    /* Style for the checkmark */
    input[type="checkbox"]:checked::after {
      content: "✔";
      color: white; /* White checkmark color */
      font-size: 16px; /* Adjust size of checkmark */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /* Hover effect for better UX */
    input[type="checkbox"]:hover {
      border-color: hsla(237, 63%, 40%, 1); /* Darker border on hover */
    }

    .active-link {
      border-right: 3px solid hsla(237, 63%, 40%, 1); 
      padding-right: 1rem;
      border-bottom: none; 
      padding-bottom: 0;
    }

    @media (min-width: 1024px){
      .active-link{
        border-bottom: 1px solid hsla(237, 63%, 40%, 1); 
      padding-bottom: 1rem;
      border-right: none;
      padding-right: 0;
      }
    }
    

    .custom-scrollbar {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    
    .custom-scrollbar::-webkit-scrollbar {
      display: none; 
    }
    

    @keyframes scroll-marquee {
      0% {
        transform: translateX(50%); /* Start from right outside the container */
      }
      50% {
        transform: translateX(-50%); /* Move to the left side outside the container */
      }
      100% {
        transform: translateX(50%); /* Back to the starting position */
      }
    }
    
    .animate-scroll-marquee {
      display: flex;
      gap: 25px;
      animation: scroll-marquee 25s linear infinite; /* Linear for continuous effect */
      white-space: nowrap; /* Prevent line breaks */
    }
    
    
    .overflow-hidden {
      overflow: hidden;
    }
    